@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Nunito Sans';
		src: url('./assets/fonts/NunitoSans_10pt-Light.ttf');
		font-weight: 300;
	}
	@font-face {
		font-family: 'Nunito Sans';
		src: url('./assets/fonts/NunitoSans_10pt-SemiBold.ttf');
		font-weight: 600;
	}
	@font-face {
		font-family: 'Nunito Sans';
		src: url('./assets/fonts/NunitoSans_10pt-ExtraBold.ttf');
		font-weight: 800;
	}
}
